<div id="chat">
<div id="text_area">
  
</div>

<div id="text_input">
  <label>Your message </label>
  <form action="" id="some_form">
    <input class="string" id="user_message" maxlength="255" name="message" size="50" type="text">
  </form>
</div>
</div>
<% content_for :js do %>
  <script type="text/javascript">
    var faye_server_url = "<%= Settings.faye_server_url %>";
    var channel_title = "<%= @channel.title %>";
    var channel_id = <%=  @channel.id%>;
  </script>
  <script src="/javascripts/show.js" type="text/javascript"></script>
<% end %>
